.dashboard-container {
    background: linear-gradient(180deg,  #121420,#1B2432);

    // padding: 3rem 4rem;
    width: calc(100% - 8rem);
    margin-left: 4rem;
    height: calc(100vh - 100px);
    border-radius: 28px;

    .top-section {
        width: 94%;
        margin-left: 3%;

        display: flex;
        padding-top: 2rem;
        justify-content: space-between;
        align-items: center;

        .dash-title {
            opacity: 0.8;
            font-size: 1.8rem;
            font-weight: 700;
        }

        .create-cta {
            background-color: #3B5BFF;
            font-weight: 600;
            padding: 10px 24px;
            border-radius: 8px;
            display: flex;
            align-items: center;

            .create-icon {
                width: 25px;
                height: 25px;
            }

            div {
                margin-left: 8px;
                font-size: 1rem;
            }
        }
    }

    .resume-container {
        width: 94%;
        margin-left: 3%;
        margin-top: 2.5rem;

        display: flex;

        .first-resume {
            width: 50%;

            .timer {
                opacity: 0.6;
            }

            .resume-section {
                width: 100%;

                display: flex;

                img {
                    width: 36%;
                    height: auto;
                    aspect-ratio: 1/1.38;
                    margin-top: 10px;
                    border-radius: 8px;
                }

                .action-toolbar {
                    margin-left: 36px;

                    .cta-icon {
                        width: 24px;
                        height: 24px;
                        opacity: 0.8;
                    }
                    .edit {
                        display: flex;
                        align-items: center;
                        margin-top: 18px;
                        cursor: pointer;

                        div {
                            margin-left: 10px;
                            opacity: 0.8;
                            font-size: 1.25rem;
                        }
                    }

                    .download {
                        display: flex;
                        align-items: center;
                        margin-top: 18px;
                        cursor: pointer;

                        div {
                            margin-left: 10px;
                            opacity: 0.8;
                            font-size: 1.25rem;
                        }
                    }

                    .delete {
                        display: flex;
                        align-items: center;
                        margin-top: 18px;
                        cursor: pointer;

                        div {
                            margin-left: 10px;
                            opacity: 0.8;
                            font-size: 1.25rem;
                        }
                    }

                    .tailor {
                        display: flex;
                        align-items: center;
                        margin-top: 18px;
                        cursor: pointer;

                        div {
                            margin-left: 10px;
                            opacity: 0.8;
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        .second-resume {
            width: 50%;

            .timer {
                opacity: 0.7;
            }

            .expired {
                color: red;
            }

            .resume-section {
                width: 100%;

                display: flex;

                img {
                    width: 36%;
                    height: auto;
                    aspect-ratio: 1/1.38;
                    margin-top: 10px;
                    border-radius: 8px;
                    opacity: 0.6;
                }

                .action-toolbar {
                    margin-left: 36px;
                    margin-top: 18px;
                    
                    .renew {
                        display: flex;
                        align-items: center;
                        padding: 6px 16px;
                        border: 0.5px solid white;
                        opacity: 0.8;
                        border-radius: 8px;
                        cursor: pointer;

                        .cta-icon {
                            width: 20px;
                            height: 20px;
                            opacity: 0.9;
                        }
                        
                        div {
                            font-size: 1.1rem;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

.resume-preview{
    display: flex;
    min-width: 253.64px;
    max-width: 253.64px;
    min-height: 360px;
    max-height: 360px;
    border-radius: 16px;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}