.header-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 4rem;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background: #1B2432;
    // background-color: #101010;

    .logo-container {
        /* Optional opacity setting */
        // opacity: 0.8;
        display: flex;
        align-items: center;
        gap: 1.75rem;
    }

    .login-cta {
        color: white;
        font-weight: 600;
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        gap: 12px;

        a {
            font-size: 1rem;
        }
    }
    .action-container {

        display: flex;
        align-items: center;

        .create-cta {
            background-color: #3b5bff;
            font-weight: 700;
            border-radius: 12px;
            padding: 12px 18px;
        }

        .login-cta {
            font-weight: 700;
            margin-right: 50px;
        }
    }
    
}