.header-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 3rem 0 2rem;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background: #24252D;
    // background-color: #101010;

    .logo-container {
        /* Optional opacity setting */
        // opacity: 0.8;
    }

    .login-cta {
        font-weight: 600;
    }
}
