.template-select-container {
    width: 100vw;
    height: 100vh;
    background-color:  #1B2432;

    .container-title {
        font-size: 1.8rem;
        font-weight: 700;
        opacity: 0.9;
        text-align: center;
        padding-top: 2rem;
    }

    .templates-wrapper {
        width: 90%;
        margin-left: 5%;
        border-radius: 32px;
        padding: 2.5rem 4rem;
        margin-top: 1.8rem;
        // box-sizing: border-box;
        background: linear-gradient(180deg,  #121420,#1B2432);

        display: flex;
        justify-content: space-between;

        .template {
            position: relative;
            img {
                height: auto;
                width: 21vw;
                aspect-ratio: 1/1.4;
                border-radius: 10px;
                margin-top: 16px;
                text-align: center;
                opacity: 0.8;
            }

            .active {
                opacity: 1;
            }

            .select-cta {
                position: absolute;
                background-color: #2B3EFA;
                top: 45%;
                left: 25%;
                font-weight: 600;
                padding: 8px 16px;
                border-radius: 8px;
                display: none;
                cursor: pointer;
            }

            .open {
                display: block;
            }

            .template-name {
                font-size: 1.5rem;
                font-weight: 600;
                opacity: 0.7;
            }

            .selected {
                opacity: 1;
            }

            .template-desc {
                font-size: 1rem;
                opacity: 0.6;
                margin-top: 12px;
                width: 21vw;
            }
        }
    }

    .logo-wrapper {
        width: 90%;
        margin-left: 5%;
        position: fixed;
        bottom: 1rem;

        img {
            height: 5vh;
            width: auto;
        }
    }
}

.select-cta {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #0070f3;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    &.open {
      background-color: #005bb5;
    }
  
    .loader {
      font-size: 0.9rem;
      color: #f3f4f6;
    }
  }
  