.template2-wrapper .template-container {
  background-color: #fff;
  height: 95%;
  aspect-ratio: 0.7751937984;
  min-width: 595px;
  max-width: 595px;
  min-height: 842px;
  max-height: 842px;
  background-color: white;
  color: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: hidden;
}
.template2-wrapper .header {
  display: flex;
  justify-content: space-between;
}
.template2-wrapper .header_left_part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.template2-wrapper .header_left_part_name {
  font-size: 18px;
  font-weight: 700;
  color: #c50;
}
.template2-wrapper .header_left_part_role {
  font-size: 15px;
  color: #808080;
  font-weight: 550;
}
.template2-wrapper .header_right_part_url {
  font-size: 10px;
}
.template2-wrapper .header_right_part_email {
  font-size: 10px;
}
.template2-wrapper .header_right_part_phone {
  font-size: 10px;
}
.template2-wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.template2-wrapper .content_container {
  display: flex;
  hanging-punctuation: 10px;
}
.template2-wrapper .content_left_part {
  width: 130px;
}
.template2-wrapper .content_right_part {
  flex: 1;
}
.template2-wrapper .content_bio_div_label {
  font-size: 16px;
  font-weight: 700;
  color: #c50;
}
.template2-wrapper .content_bio_div_value {
  font-size: 10px;
  color: #808080;
  line-height: normal;
}
.template2-wrapper .content_education_div_label {
  font-size: 16px;
  font-weight: 700;
  color: #c50;
}
.template2-wrapper .content_education_div_value {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.template2-wrapper .content_education_div_value_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(50% - 10px);
}
.template2-wrapper .content_education_div_value_section_name {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
.template2-wrapper .content_education_div_value_section_year {
  font-size: 10px;
  color: #808080;
  line-height: normal;
}
.template2-wrapper .content_education_div_value_section_field {
  font-size: 10px;
  color: #808080;
  line-height: normal;
}
.template2-wrapper .content_experience_div_label {
  font-size: 16px;
  font-weight: 700;
  color: #c50;
}
.template2-wrapper .content_experience_div_value {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.template2-wrapper .content_experience_div_value_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.template2-wrapper .content_experience_div_value_section_name {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
.template2-wrapper .content_experience_div_value_section_year {
  font-size: 10px;
  color: #808080;
  line-height: normal;
}
.template2-wrapper .content_experience_div_value_section_work {
  font-size: 10px;
  color: #808080;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.template2-wrapper .content_experience_div_value_section_work ul {
  list-style: disc;
  list-style-position: inside;
}
.template2-wrapper .content_experience_div_value_section_work ol {
  list-style: decimal;
  list-style-position: inside;
}
.template2-wrapper .content_skill_div_label {
  font-size: 16px;
  font-weight: 700;
  color: #c50;
}
.template2-wrapper .content_skill_div_value {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.template2-wrapper .content_skill_div_value_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.template2-wrapper .content_skill_div_value_section_category {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
.template2-wrapper .content_skill_div_value_section_skills {
  font-size: 10px;
  color: #808080;
  line-height: normal;
}
.template2-wrapper .content_acheivement_div_label {
  font-size: 16px;
  font-weight: 700;
  color: #c50;
}
.template2-wrapper .content_acheivement_div_value {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.template2-wrapper .content_acheivement_div_value_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.template2-wrapper .content_acheivement_div_value_section_title {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
.template2-wrapper .content_acheivement_div_value_section_remarks {
  font-size: 10px;
  color: #808080;
  line-height: normal;
}
