.template3-wrapper .template-container {
  background-color: #fff;
  height: 95%;
  aspect-ratio: 0.7751937984;
  min-width: 595px;
  max-width: 595px;
  min-height: 842px;
  max-height: 842px;
  background-color: white;
  color: black;
  display: flex;
  overflow-y: scroll;
  font-family: ui-serif;
}
.template3-wrapper .lp {
  min-width: 180px;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  background-color: #e5e4e2;
  padding: 20px;
  gap: 10px;
}
.template3-wrapper .lp_personalInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.template3-wrapper .lp_personalInfo_name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.template3-wrapper .lp_personalInfo_role {
  font-size: 15px;
  font-weight: 500;
}
.template3-wrapper .lp_add_info {
  display: flex;
  flex-direction: column;
}
.template3-wrapper .lp_add_info_value {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
}
.template3-wrapper .lp_container_header {
  font-size: 12px;
  font-weight: 700;
}
.template3-wrapper .lp_education_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.template3-wrapper .lp_education_div_value {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.template3-wrapper .lp_education_div_value_section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.template3-wrapper .lp_education_div_value_section_name {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
.template3-wrapper .lp_education_div_value_section_year {
  font-size: 8px;
  line-height: normal;
}
.template3-wrapper .lp_skill_div_value {
  display: flex;
  flex-direction: column;
}
.template3-wrapper .lp_skill_div_value_item {
  font-size: 10px;
}
.template3-wrapper .rp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.template3-wrapper .rp_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.template3-wrapper .rp_container_header {
  font-size: 14px;
  font-weight: 700;
}
.template3-wrapper .rp_bio_div_value {
  font-size: 10px;
  line-height: normal;
}
.template3-wrapper .rp_experience_div_value {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.template3-wrapper .rp_experience_div_value_section {
  display: flex;
  flex-direction: column;
}
.template3-wrapper .rp_experience_div_value_section_name {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
.template3-wrapper .rp_experience_div_value_section_year {
  font-size: 10px;
  line-height: normal;
}
.template3-wrapper .rp_experience_div_value_section_work {
  font-size: 10px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.template3-wrapper .rp_experience_div_value_section_work ul {
  list-style: disc;
  list-style-position: inside;
}
.template3-wrapper .rp_experience_div_value_section_work ol {
  list-style: decimal;
  list-style-position: inside;
}
