auto-install-peers = true
enable-pre-post-scripts=true # Enable pre/post scripts (for postui:add)
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=zfXrl8MW8ZnQN4Yy+lf+U565RlDNzaHUkAdS/8+ayqV8gImJLtvBzE0Cb3+UhoL3