.skills-container {
    background-color: #1B2432;
    padding: 1.5rem 2.5rem;
    border-radius: 16px;
    // margin-top: 1rem;
    .core-skills {
        .list-container {
            margin-top: 12px;

            .list-item {
                opacity: 0.7;
                // background-color: #1B191F;
                background-color: #121420;
                color: rgba(255,255,255);
                border: 0.5px solid rgba(255,255,255,0.4);
                list-style-type: none;
            }
        }

        .recommend {
            font-size: 16px;
            color: rgba(255,255,255,0.5);
            // font-style: italic;            
            font-weight: 600;
        }

        .ai-skill-container {     
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 12px;       
            .ai-skill-item {
                font-size: 12px;
                border-radius: 16px;
                color: rgba(255,255,255,0.8);
                padding: 8px 12px;
                border: 1px dashed rgba(255,255,255,0.6);
                margin-left: 4px;
            }
        }

        .reco-fallback {
            color: rgba(255,255,255,0.6);
            font-style: italic;
            font-size: 0.8rem;
            width: 70%;
            padding: 8px 16px;
            background-color: #121420;
            border-radius: 12px;
        }
    }

    .tech-skills {
        margin-top: 20px;
        .list-container {
            margin-top: 12px;

            .list-item {
                opacity: 0.7;
                background-color: #121420;
                color: rgba(255,255,255);
                border: 0.5px solid rgba(255,255,255,0.4);
                list-style-type: none;
            }
        }

        .recommend {
            font-size: 16px;
            color: rgba(255,255,255,0.5);
            // font-style: italic;
            font-weight: 600;
        }
    }
}