.form-input {
    background: transparent;
    padding: 8px 20px;
    border-radius: 12px;
    border: 0.01px solid rgba(255,255,255,0.4);
    width: 100%;
    margin-top: 8px;

    input::placeholder {
        color: rgba(255,255,255,0.32);                        
    } 
}

input::placeholder {
    color: rgba(255,255,255,0.32);                        
} 

