.MuiSlider-valueLabelOpen {
    background-color: #F9F6EE !important;
    color: rgba(0,0,0,0.7) !important;
    font-size: 0.68rem !important;
    font-weight: 600 !important;
    width: 0.6rem;
    height: 1.4rem;
}