.mobile-container {
    width: 100vw;
    height: 100vh;
    padding: 2rem 0;
    line-height: 1.2;

    .logo {
        margin-top: 1.5rem;
        padding: 0 3rem;

        img {
            width: 120px;
        }
    }

    .headline {
        font-weight: 600;
        font-size: 1.5rem;
        opacity: 0.8; 
        margin-top: 3rem;
        padding: 0 3rem;
    }

    .tagline {
        font-size: 1rem;
        color: rgba(255,255,255,0.6);
        margin-top: 1.2rem;
        padding: 0 3rem;

        .site-link {
            color: #3b5bff;
            font-weight: 700;
        }
    }

    .features {
        margin-top: 1.8rem;
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;

        img {
            width: 60px;
        }
    }

    .banner {
        margin-top: 2.5rem;
        
        img {
            width: 100%;
        }
    }
}